* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;

  font-family: "Montserrat";
}

.main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #242424;

  padding: 0 2% 2% 2%;
}



.header {
  width: 100%;
  height: 12vh;
  box-sizing: border-box;
  padding: 1.5% 4% 0 4%;

  position: relative;
  display: flex;
  align-items: center;

  .burgerMenu {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: start;

    i {
      font-size: 45px;
      color: #e4e4e4;
      transition: all .1s ease-in-out;
      cursor: pointer;
    }

    i:hover {
      transform: scale(1.1);
    }
  }

  .navBar {
    height: 100%;

    position: absolute;
    left: 0;
    right: 1%;
    margin: 0 auto;
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;

    button {
      height: 6vh;

      text-decoration: none;
      font-size: 23px;
      font-weight: 400;
      font-family: "Montserrat";

      border: none;
      border-bottom: solid 2px transparent;

      background-color: transparent;
      color: #e4e4e4;
      cursor: pointer;

      &.active {
        border-bottom: solid 2px #e4e4e4;
        font-weight: 800;
        cursor: default;
      }

      &:hover {
        border-bottom: solid 2px #e4e4e4;
      }
    }
  }

  .lastGames {
    height: 100%;

    margin-left: auto;
    margin-right: 8%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 8px;

    .lastGamesTitle {
      width: 100%;
      height: calc(100%-32px);

      display: flex;
      align-items: center;
      justify-content: center;

      text-align: center;
      font-size: 18px;
      font-family: "Montserrat";
      font-weight: 400;

      color: #e4e4e4;
    }

    .lastGamesGraph {
      width: 100%;
      height: 50px;

      display: flex;
      align-items: center;
      justify-content: center;

      gap: 12px;

      .lastGameWin {
        width: 32px;
        height: 32px;
        aspect-ratio: 1;

        border: solid 4px #14AE5C;
        border-radius: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #14AE5C;
        font-size: 20px;
        font-weight: 700;

        background-color: #3D814E59;
      }

      .lastGameLoss {
        width: 32px;
        height: 32px;
        aspect-ratio: 1;

        border: solid 4px #DF0004;
        border-radius: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #DF0004;
        font-size: 20px;
        font-weight: 700;

        background-color: #BE000033;
      }
    }
  }

  .viewTeams {
    height: 100%;
    margin-left: 24px;

    display: flex;
    align-items: center;
    justify-content: end;

    i {
      font-size: 45px;
      color: #e4e4e4;
      transition: all .1s ease-in-out;
      cursor: pointer;
    }

    i:hover {
      transform: scale(1.1);
    }
  }
}

.content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentTitle {

  width: 100%;
  height: 3vh;

  font-weight: 400;

  padding: 0 2%;

  font-size: 30px;
  font-family: "Montserrat";

  color: #e4e4e4;

}

.mainContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2%;

  gap: 1%;
}

.mainContainerUpper {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  gap: 30px;
}

.strategicProfile {

  flex: 1;
  height: 45vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 3% 1% 2% 1%;

  background-color: #1F1F1F;
  border: 2px solid #0F8B8B;

  border-radius: 2vh;

  box-shadow: 0px 0px 10px 5px #00000060;

  .strategicProfileTitle {
    width: 100%;
    height: 100%;

    font-weight: 400;

    font-family: "Montserrat";
    font-weight: 800;
    font-size: 32px;
    line-height: 200%;
    letter-spacing: 0%;


    color: #e4e4e4;
    border-bottom: solid 2px #0F8B8B;

    margin-bottom: 2%;
  }

  .strategicProfileContent {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    padding: 1% 0 5% 0;


    .ProfileItem {
      flex: 1;
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;

      font-family: "Montserrat";
      font-weight: 600;
      font-size: 20px;
      line-height: 210%;
      letter-spacing: 0%;

      color: #e4e4e4;

      gap: 10px;

      .icon {
        width: 32px;
        height: 32px;
        aspect-ratio: 1;
      }

      .itemTitle {
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        font-family: "Montserrat";
        font-weight: 400;
        font-size: 20px;


        gap: 10px;
      }
    }
  }

}

.gameIdentity {
  flex: 1;
  height: 45vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1%;

  background-color: #1F1F1F;
  border: 2px solid #0F8B8B;

  border-radius: 2vh;

  box-shadow: 0px 0px 10px 5px #00000060;

  .gameIdentityTitle {
    width: 100%;
    height: 100%;

    font-weight: 400;

    font-family: "Montserrat";
    font-weight: 800;
    font-size: 32px;
    letter-spacing: 0%;


    color: #e4e4e4;
    border-bottom: solid 2px #0F8B8B;

    margin-bottom: 5%;
  }

  .gameIdentityContent {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 4% 0;

    gap: 10px;

    .identityItem {
      flex: 1;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;

      font-family: "Montserrat";
      font-weight: 600;
      font-size: 20px;
      line-height: 210%;
      letter-spacing: 0%;

      color: #e4e4e4;

      gap: 10px;

      .icon {
        width: 32px;
        height: 32px;
        aspect-ratio: 1;
      }

      .identityText {
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        font-family: "Montserrat";
        font-weight: 800;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;



        gap: 10px;
      }
    }
  }
}

.mainContainerLower {
  width: 100%;
  height: auto;

  margin-top: 1%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 30px;


}

.pieChart {

  flex: 1;
  height: 30vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #1F1F1F;
  border: 2px solid #0F8B8B;

  border-radius: 2vh;

  box-shadow: 0px 0px 10px 5px #00000060;

  color: #fff;

}

.mainKPIs {

  flex: 1;
  height: 30vh;

  display: flex;
  align-items: center;
  justify-content: start;

  gap: 5%;


  .kpi {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1%;

    background-color: #1F1F1F;
    border: 2px solid #0F8B8B;

    border-radius: 2vh;

    box-shadow: 0px 0px 10px 5px #00000060;

    color: #FFFFFF;

    .tituloKpi {
      width: 100%;
      height: auto;

      font-family: "Montserrat";
      font-weight: 300;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;

    }

    .conteudoKpi {
      width: 100%;
      height: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      font-family: "Montserrat";
      font-weight: 800;
      font-size: 45px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;

    }

    .subtituloKpi {
      width: 100%;
      height: auto;

      font-family: "Montserrat";
      font-weight: 700;
      font-size: 19px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;

    }
  }

}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}